<?xml version="1.0" encoding="UTF-8"?>

<!--
  有关如何配置 ASP.NET 应用程序的详细信息，请访问
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->

<configuration xmlns="http://schemas.microsoft.com/.NetConfiguration/v2.0">

  <!--log4net配置-->
  <configSections>
    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler,log4net" />
  </configSections>

  <appSettings>
    <!--WebService服务端口号（:80）-->
    <add key="WebServicePort" value=":80" />

    <!--百度云推送服务地址-->
    <add key="BaiduPushUrl" value="http://channel.api.duapp.com/rest/2.0/channel/channel" />
    <!--百度云推送ApiKey-->
    <add key="ApiKey" value="" />
    <!--百度云推送SecretKey-->
    <add key="SecretKey" value="" />
    
  </appSettings>

  <system.web>
    <compilation debug="true" targetFramework="4.0" />

    <!--打开webservice输入框-->
    <webServices>
      <protocols>
        <add name="HttpGet" />
        <add name="HttpPost" />
        <add name="HttpPostLocalhost" />
        <add name="Documentation" />
      </protocols>
    </webServices>
  </system.web>

  <log4net>
    <!--定义输出到文件中-->
    <appender name="LogFileAppender" type="log4net.Appender.FileAppender">
      <!--定义文件存放位置-->
      <file value="LogFileAppender_log.txt" />
      <appendToFile value="true" />
      <datePattern value="yyyyMMdd-HH:mm:ss" />
      <layout type="log4net.Layout.PatternLayout">
        <!--输出格式-->
        <!--样例：2010-11-17 15:50:23,443 [9] (D:/CSProjects/Log4NetDemo/Log4NetDemo/Program.cs:27) FATAL Log4NetDemo.Program [(null)] - fatal  
System.Exception: 在发生了一个致命错误，Exception Id：548828745-->
        <conversionPattern value="记录时间：%date 线程ID:[%thread] 日志级别：%-5level 文件：%file 所在行:%line 出错类：%logger property:[%property{NDC}] - 错误描述：%message%newline" />
      </layout>
    </appender>

    <!--使用Rolling方式记录日志  
    每个日志文件最大100KB，生成的日志文件名会是log.txt.1,log.txt.2 ...log.txt.10  
    如果记录的日志超过10个，会从log.txt.1开始覆盖  
    -->
    <appender name="RollingLogFileAppender" type="log4net.Appender.RollingFileAppender">
      <file value="RollingFileAppender_log.txt" />
      <appendToFile value="true" />
      <rollingStyle value="Size" />
      <maxSizeRollBackups value="10" />
      <maximumFileSize value="100KB" />
      <staticLogFileName value="true" />
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%date [%thread] (%file:%line) %-5level %logger [%property{NDC}] - %message%newline" />
      </layout>
    </appender>

    <!--使用Rolling方式记录日志  
    按照日来记录日志  
    -->
    <appender name="RollingLogFileAppender_DateFormat" type="log4net.Appender.RollingFileAppender">
      <file value="log\\" />
      <appendToFile value="true" />
      <rollingStyle value="Date" />
      <!--<datePattern value="yyyyMMdd-HHmm" />-->
      <param name="StaticLogFileName" value="false" />
      <datePattern value="yyyyMMdd&quot;.txt&quot;" />
      <layout type="log4net.Layout.PatternLayout">
        <param name="Header" value="--------------------------------------------------&#13;&#10;" />
        <param name="ConversionPattern" value="%d [%t] %-5p %c - %m%n"/>
      </layout>
    </appender>

    <!--定义日志的输出媒介-->
    <logger name="logerror">
      <!--定义日志级别-->
      <level value="ERROR" />
      <!--RollingFileAppender事件日志，每天一个日志-->
      <appender-ref ref="RollingLogFileAppender_DateFormat" />
    </logger>

  </log4net>
</configuration>
